

:root {
    --labelMargTop:5px;
    --book-label-color: #f1f1f1;
    --highwithfont:400!important;
    --lightwidthfont:100;
    --fontFamily:Roboto !important;
    --highwithfont:500!important;
    --bookTilteFontSize:25px;
    --smallFont:12px;
    --smallFontWeight:50!important;

}

